<div class="center jumbotron">
    <h1>Welcome to my Sample App</h1>
    <h2>this is the homepage for the sample application</h2>
    
     <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

 <%= link_to image_tag('rails.png', alt: "Rails Logo"), 'http://rubyonrails.org' %>