<footer class="footer">
    <small>
      Sample app footer
    </small>
    <nav>
        <ul>
        <li> <%= link_to 'About', about_path  %></li>
        <li> <%= link_to 'Contact', contact_path  %></li>
        <li><%= link_to 'News', '#' %></li>
        </ul>
    </nav>
</footer>